img {
    max-width: 100%;
    height: auto;
   
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', serif;
    margin: 10px;
    padding: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.centered-text {
    text-align: center;

}

.centered-image {
    display: block;
    margin: auto;

}

.circled-image {
    width: 100%;
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    object-fit: cover;
    max-width: 500px;
    display: block;
    margin: auto;

}